<form class="hero-form text-center" [formGroup]="newHeroForm">
  <div class="form-row">
    <mat-form-field class="w-50">
      <mat-label> Nombre del heroe </mat-label>
      <input
        matInput
        formControlName="name"
        placeholder="Ex. Manolito el fuerte"
      />
    </mat-form-field>
    <div *ngIf="newHeroForm.get('name').touched">
      <div
        class="form-error"
        *ngIf="newHeroForm.get('name').hasError('required')"
      >
        <span>Por favor escriba el nombre del nuevo héroe.</span>
      </div>
      <div
        class="form-error"
        *ngIf="newHeroForm.get('name').hasError('minlength')"
      >
        <span>Perdon, pero necesita tener por lo menos 5 letras.</span>
      </div>
    </div>
  </div>
</form>
